{% load static %}
<header>
  <img src="{% static 'img/logo.png' %}" />
  <script src="{% static 'js/is_logged.js' %}"></script>
</header>
<nav>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'menu' %}">Menu</a></li>
    <li><a href="{% url 'book' %}">Book</a></li>
    <li><a href="{% url 'reservations' %}">Reservations</a></li>
    <li id="user-info" class="user-section"></li>
    <!-- Hidden divs for the URLs -->
    <span id="register-url" hidden>{% url 'register' %}</span>
    <span id="login-url" hidden>{% url 'user_login' %}</span>
    <span id="logout-url" hidden>{% url 'logout' %}</span>
  </ul>
</nav>
