body {
    font-family: 'Karla', sans-serif;
    margin-top: 0;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Markazi Text', serif;
    letter-spacing: 2px;;
}

h1 {
    font-size: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

h2 {
    font-size: 2.5rem;
    color: #333333;
    margin:1rem 0;
}

h3 {
    font-size: 1.5rem;
    margin:1rem 0;
}


p, ul{
    font-size: 1.25rem;;
}

a {
    color: #EE9972;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 100%;
    height: auto;
}


nav {
    background: linear-gradient(145deg, #3a4e48, #517866); /* subtle gradient */
    margin-top: 1rem;
    margin-bottom: 1rem; 
}

nav ul {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    padding-inline-start: 0rem;
    margin-bottom: 0px;
}

nav ul li {
    display: inline-block;
    margin: 0.5rem;
}

nav ul a {
    color: #EDEFEE;
    text-decoration: none;
}

nav ul a:active {
    text-decoration: underline;
}

nav ul a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

/* User info section styles */
.user-section {
    margin-left: auto; 
    padding: 5px 15px; 
    background-color: #2e3f37; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #e0e0e0;
}

.user-section:hover {
    background-color: #25342c;
}

.user-section a, .user-section a span {
    text-decoration: none;
    color: #e0e0e0;
    margin: 0 5px;
    transition: color 0.3s ease;
}

.user-section a:hover {
    color: #bdc3c7;
}



section {
    display: flex;
    gap: 2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
}

article {
    flex:1;
}

article img {
    max-width: 100%;
}

article ul {
    list-style: none;
}

main article {
    border: 1px solid #EDEFEE;
    padding-left: 1rem;
    padding-right: 1rem;
}

figure {
    margin: 0;
}

label {
    font-weight: bold;
    display: block;
  }

input{
    width: 80%;
    display: block;
    padding: .5rem 1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
}

button {
    width: 80%;
    padding: 10px 15px;
    background: linear-gradient(145deg, #3a4e48, #517866);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-image 0.3s;
}

button:hover {
    background-image: linear-gradient(145deg, #2a3e38, #406656);
}

#hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('../img/restaurant_inside.jpg');
    background-size: cover;
    background-position: 75%;
    color: white;
    min-height: 200px;
    text-align: center;;
}

#hero p {
    font-size: 2rem;
    margin:0;
    text-shadow: 2px 2px 4px #333333;
}

.cta { 
    display: inline-block; 
    color: rgba(255, 255, 255, 0.9);
    width: 200px; 
    font-weight: bold; 
    font-size: 1.5rem;
    padding: 8px; 
    border: 3px solid #fff; 
    text-align: center; 
    outline: none; 
    text-decoration: none; 
    margin: 1rem;
} 

.cta:hover {
    color:#fff;
    background:#495E57;
    border: 3px solid #495E57; 
  }

  .heading-shadow {
    text-shadow: 1px 1px 4px #333333;
  }

footer {
    background-color: #EDEFEE;
    padding: 1rem;
    display: flex;
    gap: 2rem 1rem;
}

footer img {
    max-width: 50%;
}

footer p {
    border-top: #333333;
    border-style: solid;
    border-width: 0.1rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: right;
    padding-top: 1rem;;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1rem;
  }

  .column {
    flex-basis: 50%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .column figure {
    padding: 0px 12px;

  }


  .videowrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 1rem;
	height: 0;
}
.videowrap iframe {
	position: absolute;
    margin-top: 2rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.menu-price{
    display: block;
    font-size: 1rem;
}



@media (max-width: 800px) {
    section {
        flex-direction: column;   
    }

    .row {
        flex-direction: column;
        width: 100%;
      }
   
    input{
        width: 100%;
    }

    #button{
        width: 100%;
    }
  }

.form-styling {
    background: #EDEFEE;
    padding: 1rem;
    border: 1px solid #495E57;
}

.message-box {
    font-family: 'Karla', sans-serif;
    font-size: 1.25rem;
    color: #333333;
    border: 1px solid #EDEFEE;
    padding: .5rem;
    margin-top: 1rem;
}

/* Menu item  */
.menu-item {
    display: flex;
    align-items: center;
}

.menu-price {
    margin-right: 1rem;
}

/* Container holding the entire component */
.component-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F7; /* Light gray */
    padding: 10px 20px;
    border-radius: 50px;
    width: 300px; /* Adjust as needed */
}

/* Quantity Selector - Minus Button */
.component-container .minus-button, 
.component-container .plus-button {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #E0E0E3; /* Lighter gray */
    transition: background-color 0.3s;
}

/* Quantity Selector - Plus Button */
.component-container .plus-button {
    background-color: #6ED2A7; /* Light teal */
    margin-right: 10px; 
}

.component-container .minus-button:hover,
.component-container .plus-button:hover {
    background-color: #D1D1D6; /* Slightly darker gray on hover */
}

.component-container .plus-button:hover {
    background-color: #59BA8C; /* Darker teal on hover */
}

/* Quantity Display */
.component-container .quantity-display {
    font-size: 18px;
    margin: 0 20px;
    width: 25px;
    text-align: center;
}

/* Action Button with higher specificity */
.component-container .action-button {
    flex-grow: 1;
    height: 40px;
    border: none;
    border-radius: 25px; /* Half of height to get pill shape */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: linear-gradient(145deg, #3a4e48, #517866); /* Applying the linear gradient */
}

/* Delete button with higher specificity */
.component-container .action-button.delete-button {
    background-color: #517866;
    background-image: var(--delete-icon-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Hover effect with higher specificity */
.component-container .action-button.delete-button:hover {
    background-color: #3a4e48; /* Slightly darker gray on hover */
}




/* Cart item */
.floating-cart {
    position: fixed;  /* Fixed positioning makes it float */
    top: 2%;          /* From the top of the page */
    right: 2%;        /* From the right side of the page */
    width: 50px;      /* Width of the circle */
    height: 50px;     /* Height of the circle */
    border-radius: 50%;  /* Makes it a circle */
    background-color: #2e3f37;  /* Background color of the circle */
    display: flex;  
    justify-content: center;  /* Horizontally center the icon */
    align-items: center;      /* Vertically center the icon */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  /* Optional: Adds a subtle shadow */
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.floating-cart:hover {
    background-color: #25342c;
}

.cart-icon {
    width: 95%;   /* Adjust icon size to make it bigger */
    height: auto; /* Maintain aspect ratio */
}

#overallValueLine {
    width: 80%;   /* Adjust width as needed */
    margin: 10px auto;   /* Center the line and provide space above and below */
}

#overallValue {
    font-size: 1.5em;   /* Increase the font size; adjust as needed */
    font-weight: bold;  /* Make the text bold */
    display: block;     /* Make it a block element so it appears on its own line */
    text-align: center; /* Center the text */
    margin: 10px 0;     /* Provide some margin above and below for spacing */
}

.basket-price-total {
    font-size: 1.2em;   /* Increase the font size; adjust as needed */
    font-weight: bold;  /* Make the text bold for emphasis */
    margin: 10px 0;     /* Provide some margin above and below for spacing */
}

/*Message box*/
.message-box {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid;
    display: none; 
}

.message-box.error {
    border-color: #dc3545;
    color: #dc3545;
    background-color: #f8d7da;
}

.message-box.success {
    border-color: #28a745;
    color: #28a745;
    background-color: #d4edda;
}

