{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    :root {
        --delete-icon-url: url('{% static "img/delete_item_icon.png" %}');
    }
</style>

<script>
    const cartUrl = "{% url 'cart_operations' %}";
    const orderUrl = "{% url 'order_operations' %}";
    const confirmationUrl = "{% url 'order_confirmation_page' %}";
</script>

<h1>Your Basket</h1>
<div class="column">

    <div id="basket-container"></div> <!-- This is used for both authenticated and non-authenticated users -->
    <hr id="overallValueLine">
    <span id="overallValue"></span>
    {% if user.is_authenticated %}
        <button class="action-button order-button center-align" id="orderButton">Order</button>
        <span class="empty-cart-message center-align" style="display:none">Basket is empty. Make an order <a href="{% url 'menu' %}">here.</a></span>
    {% else %}
        <span  class="register-message center-align">Please <a href="{% url 'register' %}">register</a> to place an order</span>
    {% endif %}
</div>

<script>
// Function to format individual basket items
function formatBasketData(item) {
    return `
        <h3>
            <a href="#" id="menuitem_${item.menuitem}" data-base-url="{% url 'menu_item' pk=0 %}">
                ${item.menuitem_details.title}
            </a>
        </h3>
        <div id="message_${item.menuitem}" class="message-box"></div>
        <span class="basket-info">
            <!-- Quantity Selector -->
            <div class="component-container">
                <button class="minus-button" data-action="decrement" data-menuitem="${item.menuitem}" data-unit-price="${item.unit_price}">−</button>
                <span class="quantity-display" id="quantity_${item.menuitem}">${item.quantity}</span>
                <button class="plus-button" data-action="increment" data-menuitem="${item.menuitem}" data-unit-price="${item.unit_price}">+</button>
                <button class="action-button delete-button" style="background-image: url('{% static "img/delete_item_icon.png" %}');" data-menuitem="${item.menuitem}"></button>
            </div>
            <span class="basket-price-total" id="totalPrice_${item.menuitem}">Total Price per unit: $${item.price}</span>
        </span>
    `;
}
</script>

<script type="module" src="{% static 'js/basket.js' %}"></script>
{% endblock %}
