{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Menu</h1>
<div class="column">
    {% for item in menu %}
    <div class="food-item">
        <h3>
            <a href="{% url 'menu_item' pk=item.pk %}">
                {{ item.title }}
            </a>
        </h3>
    <div id="message_{{ item.pk }}" class="message-box"></div>
    <span class="menu-item">
        <span class="menu-price">Price: ${{ item.price }}</span>

        <!-- Quantity Selector -->
        <div class="component-container">
            <button class="minus-button" onclick="updateQuantity('decrement', item_{{ item.pk }})">−</button>
            <span class="quantity-display" id="quantity_{{ item.pk }}">1</span>
            <button class="plus-button" onclick="updateQuantity('increment', item_{{ item.pk }})">+</button>
            <button class="action-button large-screen" onclick="addToBasket(item_{{ item.pk }})">Add 1 for ${{ item.price }}</button>
            <button class="action-button small-screen" onclick="addToBasket(item_{{ item.pk }})">Add</button>
        </div>
    </span>

        <script type="application/javascript">
            let item_{{ item.pk }} = {
                menuitem: {{ item.pk }},
                title: "{{ item.title }}",
                unit_price: {{ item.price }},
                quantity: parseInt(document.getElementById('quantity_{{ item.pk }}').textContent, 10),
                get price() {
                    return this.unit_price * this.quantity;
                }
            };
        </script>
    </div>
    {% endfor %}
</div>

<script>

function updateQuantity(action, item) {
        const quantityDisplay = document.getElementById('quantity_' + item.menuitem);
        let quantity = parseInt(quantityDisplay.textContent);
        if (action === 'decrement' && quantity > 1) {
            quantity--;
        } else if (action === 'increment') {
            quantity++;
        }
        quantityDisplay.textContent = quantity;
        item.quantity = quantity;

        const componentContainer = quantityDisplay.closest('.component-container');
        const largeScreenButton = componentContainer.querySelector('.action-button.large-screen');
        const buttonText = `Add ${quantity} for $${(item.unit_price * quantity).toFixed(2)}`;
        largeScreenButton.textContent = buttonText;
    }


function addToBasket(item) {
    const authToken = sessionStorage.getItem('token');

    if (authToken) {
        // Authenticated User: Add to server-side basket
        fetch('{% url 'cart_operations' %}', {
            method: 'POST',
            headers: {
                'Authorization': `Token ${authToken}`,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ menuitem: item.menuitem, quantity: item.quantity })
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(errData => {
                    throw new Error(errData.message || 'Server error');
                });
            }
            return response.json();
        })
        .then(data => {
            // Handle authenticated user response
            showMessage(item.menuitem, "Item has been added to the basket", "success");
        })
        .catch((error) => {
            showMessage(item.menuitem, "Item has not been added to the basket", "error");
        });

    } 
    else {
    let clientBasket = JSON.parse(localStorage.getItem('clientBasket')) || [];
    const existingItem = clientBasket.find(existing => existing.menuitem === item.menuitem);

    if (existingItem) {
        existingItem.quantity += item.quantity; // Add the new selected quantity to the existing item
        existingItem.price = existingItem.unit_price * existingItem.quantity; // Update total price
    } else {
        clientBasket.push(item);
    }

    localStorage.setItem('clientBasket', JSON.stringify(clientBasket));
    showMessage(item.menuitem, "Item has been added to the basket", "success");

}
}


function showMessage(menuitemId, message, type) {
    const messageBox = document.getElementById("message_" + menuitemId);
    
    // Clear previous 'error' and 'success' classes
    messageBox.classList.remove("error", "success");
    
    // Add the new type class
    messageBox.classList.add(type);
    
    // Display the message
    messageBox.style.display = "block";
    messageBox.innerHTML = message;

    // Hide the message after 3 seconds
    setTimeout(() => {
        messageBox.style.display = "none";
    }, 3000);
}
</script>
{% endblock %}
