{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="privacy-policy-container">
    <h1>Privacy Policy</h1>
    
    <section id="introduction">
      <h2>Introduction</h2>
      <p>We value your privacy and strive to protect your personal information. This Privacy Policy outlines how we collect, use, and safeguard your data.</p>
    </section>
  
    <section id="cookies">
      <h2>Cookies</h2>
      <p>We use cookies to improve user experience and analyze website traffic. For these reasons, we may share your site usage data with our analytics partners.</p>
    </section>
  
    <section id="types-of-cookies">
      <h2>Types of Cookies Used</h2>
      <p>We use different types of cookies, including essential cookies for authentication and security, and performance cookies for analytics.</p>
    </section>
  
    <section id="how-to-opt-out">
      <h2>How to Opt-Out</h2>
      <p>You can manage your cookie preferences within your browser settings. Refer to your browser's Help section for instructions on how to disable cookies.</p>
    </section>
  
    <section id="contact">
      <h2>Contact Information</h2>
      <p>If you have any questions about this Privacy Policy, please contact us.</p>
    </section>
  </div>
  {% endblock %}