{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>
    <div class="container">
        <h2>Registration form</h2>
        <div id="message" class="message-box"></div>
        <input type="hidden" id="homeUrl" value="{% url 'home' %}">
        <form id="registration-form" class="form-styling">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
    <script src="{% static 'js/registration.js' %}"></script>
</body>
</html>
{% endblock %}