name: Lint and Test on Push

on: [push]

jobs:
  linter:
    name: Linter
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install --dev
    - name: Run Flake8
      run: pipenv run flake8 .

  test:
    name: Django Test and Migrate
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install
    - name: Run Migrations
      run: pipenv run python manage.py migrate
    - name: Inject secrets into environment
      env:
        TEST_SUPERUSER_NAME: ${{ secrets.TEST_SUPERUSER_NAME }}
        TEST_SUPERUSER_PASSWORD: ${{ secrets.TEST_SUPERUSER_PASSWORD }}
      run: |
        echo "TEST_SUPERUSER_NAME=${TEST_SUPERUSER_NAME}" >> $GITHUB_ENV
        echo "TEST_SUPERUSER_PASSWORD=${TEST_SUPERUSER_PASSWORD}" >> $GITHUB_ENV
    - name: Run Tests
      run: pipenv run python manage.py test
